<!DOCTYPE html>
<html>
<head>
  <title>Flajax</title>
  <%= stylesheet_link_tag    "flajax/application", :media => "all" %>
  <%= javascript_include_tag "flajax/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
